@using JAStudio.Core.Note
@using JAStudio.Core.Note.Vocabulary
@using JAStudio.Core.Storage.Media
@using JAStudio.Web

@if(_parts.Count > 0)
{
    <div class="relatedVocabListDiv page_section compound_parts">
        <div class="page_section_title">compound parts</div>
        <div class="vocabHomophonesList">
            <div>
                @foreach(var part in _parts)
                {
                    <NoteLink Note="part.Vocab">
                        <div class="relatedVocab @CreateClasses(part.Vocab, part.Depth)">
                            @{ var bestAudio = AudioSelector.SelectBest(part.Vocab.Media.Audio); }
                            @if(bestAudio != null)
                            {
                                <audio src="/media/@bestAudio.Id"></audio><span class="play-button"></span>
                            }
                            <span class="question clipboard">@part.Vocab.Question.DisambiguationName</span>
                            @{ var readings = string.Join(", ", part.Vocab.GetReadings()); }
                            @if(readings != part.Vocab.Question.Raw)
                            {
                                <span class="clipboard vocabReading">@readings</span>
                            }
                            @((MarkupString)part.Vocab.MetaData.MetaTagsHtml(noSentenceStatistics: true))
                            <span class="meaning"> @((MarkupString)part.Vocab.GetAnswer())</span>
                        </div>
                    </NoteLink>
                }
            </div>
        </div>
    </div>
}

@code {
    [Parameter, EditorRequired] public VocabNote Note { get; set; } = null!;

    record CompoundPartItem(VocabNote Vocab, int Depth);
    List<CompoundPartItem> _parts = [];

    protected override void OnParametersSet()
    {
        _parts = GetCompoundPartsRecursive(Note);
    }

    static string CreateClasses(VocabNote vocab, int depth)
    {
        return string.Join(" ", vocab.GetMetaTags()) + $" compound_part_depth_{depth}";
    }

    static List<CompoundPartItem> GetCompoundPartsRecursive(VocabNote vocabNote, int depth = 0, HashSet<NoteId>? visited = null)
    {
        visited ??= [];
        if(visited.Contains(vocabNote.GetId())) return [];
        visited.Add(vocabNote.GetId());

        var result = new List<CompoundPartItem>();
        foreach(var part in vocabNote.CompoundParts.PrimaryPartsNotes())
        {
            result.Add(new CompoundPartItem(part, depth));
            result.AddRange(GetCompoundPartsRecursive(part, depth + 1, visited));
        }

        return result;
    }
}
