@using JAStudio.Core.Note
@using JAStudio.Core.Note.Vocabulary
@using JAStudio.Core.Storage.Media
@using JAStudio.Core.UI.Web.Vocab
@using JAStudio.Web

@if(_sentences.Count > 0)
{
    <div id="highlightedSentencesSection" class="page_section @_noStudyingClass">
        <div class="page_section_title" title="primary form hits: @_primaryFormMatches">sentences: primary form hits: @_primaryFormMatches, <span class="studing_sentence_count">studying: @_studyingCount</span></div>
        <div id="highlightedSentencesList">
            <div>
                @foreach(var sentence in _sentences)
                {
                    <NoteLink Note="sentence.Sentence">
                        <div class="highlightedSentenceDiv @sentence.SentenceClasses()">
                            @{ var bestAudio = AudioSelector.SelectBest(sentence.Sentence.Media.Audio); }
                            @if(bestAudio != null)
                            {
                                <audio src="/media/@bestAudio.Id"></audio><span class="play-button"></span>
                            }
                            <div class="highlightedSentence">
                                <div class="sentenceQuestion"><span class="clipboard">@((MarkupString)sentence.FormatSentence())</span> <span class="deck_indicator">@sentence.Sentence.GetSourceTag()</span></div>
                                <div class="sentenceAnswer"> @((MarkupString)sentence.Sentence.GetAnswer())</div>
                            </div>
                        </div>
                    </NoteLink>
                }
            </div>
        </div>
    </div>
}

@code {
    [Parameter, EditorRequired] public VocabNote Note { get; set; } = null!;

    List<VocabSentenceViewModel> _sentences = [];
    int _primaryFormMatches;
    int _studyingCount;
    string _noStudyingClass = "";

    protected override void OnParametersSet()
    {
        var studyingSentences = Note.Sentences.Studying().ToHashSet();
        _studyingCount = studyingSentences.Count;
        _noStudyingClass = _studyingCount == 0 ? "no_studying_sentences" : "";

        var allSentences = Note.Sentences.All()
                               .Select(s => new VocabSentenceViewModel(Note, s))
                               .ToList();

        allSentences = allSentences
                      .OrderBy(s => s.IsHighlighted() ? 0 : 1)
                      .ThenBy(s => s.Sentence.IsStudyingRead() ? 0 : 1)
                      .ThenBy(s => s.Sentence.IsStudyingListening() ? 0 : 1)
                      .ThenBy(s => s.VocabIsDisplayed ? 0 : 1)
                      .ThenBy(s => string.IsNullOrEmpty(s.Sentence.GetAnswer()) ? 1 : 0)
                      .ThenBy(s => s.Sentence.PriorityTagValue())
                      .ThenBy(s => s.Sentence.Tags.Contains(Tags.TTSAudio) ? 1 : 0)
                      .ThenBy(s => s.ContainsPrimaryForm() ? 0 : 1)
                      .ThenBy(s => s.Sentence.Question.WithoutInvisibleSpace().Length)
                      .ToList();

        _primaryFormMatches = allSentences.Count(x => x.ContainsPrimaryForm());
        _sentences = allSentences.Take(30).ToList();
    }
}
