@using JAStudio.Core.Note.Vocabulary
@using JAStudio.Core.ViewModels.KanjiList

@if(KanjiListViewModel != null)
{
    <div id="kanji_list" class="page_section">
        <div class="page_section_title">kanji</div>
        @foreach(var kanji in KanjiListViewModel.KanjiList)
        {
            <NoteLink Note="kanji.Kanji">
                <div class="kanji_item @(string.Join(" ", kanji.Kanji.GetMetaTags()))">
                    <div class="kanji_main">
                        <span class="kanji_kanji clipboard">@kanji.Question()</span>
                        <span class="kanji_answer">@((MarkupString)kanji.Answer())</span>
                        <span class="kanji_readings">@((MarkupString)kanji.Readings())</span>
                    </div>
                    @if(!string.IsNullOrEmpty(kanji.Mnemonic()))
                    {
                        <div class="kanji_mnemonic">@((MarkupString)kanji.Mnemonic())</div>
                    }
                </div>
            </NoteLink>
        }
    </div>
}

@code {
    [Parameter, EditorRequired] public VocabNote Note { get; set; } = null!;
    [Parameter] public KanjiListViewModel? KanjiListViewModel { get; set; }
}
