@using JAStudio.Core.Configuration
@using JAStudio.Core.Storage.Media
@using JAStudio.Core.UI.Web.Sentence
@using JAStudio.Core.ViewModels.KanjiList
@using JAStudio.Web

<li class="sentenceVocabEntry depth1 word_priority_very_high @Match.MetaTagsString">
    <div class="sentenceVocabEntryDiv">
        <SentenceInvalidForDisplay Match="Match" Settings="Settings" />
        @{ var bestAudio = Match.VocabMatch != null ? AudioSelector.SelectBest(Match.VocabMatch.Vocab.Media.Audio) : null; }
        @if(bestAudio != null)
        {
            <audio src="/media/@bestAudio.Id"></audio><span class="play-button">▶</span>
        }
        @if(Match.VocabMatch != null)
        {
            <NoteLink Note="Match.VocabMatch.Vocab">
                <span class="vocabQuestion clipboard">@Match.ParsedForm</span>
            </NoteLink>
        }
        else
        {
            <span class="vocabQuestion clipboard">@Match.ParsedForm</span>
        }
        @if(Match.DisplayVocabForm)
        {
            <span class="vocabHitForm clipboard">@Match.VocabForm</span>
        }
        @if(Match.DisplayReadings)
        {
            <span class="vocabHitReadings clipboard">@Match.Readings</span>
        }
        @((MarkupString)Match.MetaTagsHtml)
        <span class="vocabAnswer">@((MarkupString)Match.Answer)</span>
    </div>
</li>

@if(Match.ShowCompoundParts)
{
    @foreach(var compoundPart in Match.CompoundParts)
    {
        <SentenceBreakdownCompoundPart CompoundPart="compoundPart" />
    }
}

<li class="sentenceVocabEntry depth1 word_priority_very_high @Match.MetaTagsString">
    <SentenceBreakdownKanji Match="Match" KanjiListViewModelFactory="KanjiListViewModelFactory" />
</li>

@code {
    [Parameter, EditorRequired] public MatchViewModel Match { get; set; } = null!;
    [Parameter, EditorRequired] public Settings Settings { get; set; } = null!;
    [Parameter, EditorRequired] public SentenceKanjiListViewModel KanjiListViewModelFactory { get; set; } = null!;
}
